---
layout: default
---
<div class="row">
  <div class="sidebar-col">
    <div class="sidebar-title">Recent Posts</div>
    {% for post in site.posts limit:10 %}
      <a class="sidebar-link" href="{{ post.url | prepend: site.baseurl }}">
        <span class="sidebar-post-title">{{ post.title }}</span>
        {% if post.ctf %}<span class="sidebar-post-ctf">{{ post.ctf }}</span>{% endif %}
        {% if post.year %}<span class="sidebar-post-year">{{ post.year }}</span>{% endif %}
        {% if post.categories %}
          {% for category in categories %}
            <div class="sidebar-post-category">{{ post.category }}</div>
          {% endfor %}
        {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="content-col">
    <h1>Welcome to the Plaid Parliament of Pwning</h1>
  </div>
</div>
