---
layout: default
---
<div class="row">
  <div class="sidebar-col">
    <div class="sidebar-title">Recent Posts</div>
    {% for post in site.posts %}
      <div class="sidebar-link">
        <div class="sidebar-post-title">{{ post.title }}</div>
        {% if post.ctf %}<div class="sidebar-post-ctf">{{ post.ctf }}</div>{% endif %}
        {% if post.year %}<div class="sidebar-post-year">{{ post.year }}</div>{% endif %}
        {% if post.categories %}
          {% for category in categories %}
            <div class="sidebar-post-category">{{ post.category }}</div>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="content-col">
    <h1>Welcome to the Plaid Parliament of Pwning</h1>
  </div>
</div>
