.read-more {
	display: flex;
	flex-direction: row;
}

.blog-entry {
	.blog-excerpt.blog-excerpt.blog-excerpt {
		& >* {
			padding-top: 2*$padding;
			padding-bottom: 2*$padding;
		}

		&>.sidebar-col, &::before {
			border-bottom: 1px solid $color-neutral-03;
		}

		&>.content-col, &::after {
			border-bottom: 1px solid $color-neutral-02;
		}

		&>.content-col>p {
			background: $color-neutral-00;
			padding: $padding;
			border-radius: $border-radius;
		}

		.content-col {
			h2 {
				margin-top: 0px;
			}
		}
	}
}

.page-navigation {
	display: flex;
	align-items: right;

	.spacer {
		flex-grow: 1;
		text-align: right;
	}

	.navigation {
		background-color: $color-neutral-00;
		border-radius: $border-radius;
		padding: $padding/2;
	}
}