@import 'theme';

// Set general theme settings
body {
	margin: 0px;
	padding: 0px;
	font-family: "Signika";
	font-size: 20px;
}



.site-wrap {
	display: flex;
	flex-direction: row;

	display: flex;
	flex-direction: column;

	.row {
		display: flex;
		flex-direction: row;

		.sidebar-col {
			padding-top: $padding;
			width: $sidebar-width;
			flex-basis: $sidebar-width;
			flex-grow: 0;
			background-color: $color-neutral-04;
			color: $color-neutral-01;
			padding-right: $padding;
		}

		.content-col {
			padding-top: $padding;
			width: $content-width;
			flex-baasis: $content-width;
			flex-grow: 0;
			background-color: $color-neutral-01;
			padding-left: $padding;
		}

		&::before {
			content: "";
			flex-grow: 3;
			background-color: $color-neutral-04;
		}

		&::after {
			content: "";
			flex-grow: 4;
			background-color: $color-neutral-01;
		}
	}
}