@import 'theme';

// Set general theme settings
html, body, .site-wrap {
	height: 100%; 
}


body {
	margin: 0px;
	padding: 0px;
	font-family: "Signika";
	font-size: 20px;
}

h1 {
	margin-top: 0px;
}

p:first-child {
	margin-top: 0px;
}

.site-wrap {
	display: flex;
	flex-direction: row;

	display: flex;
	flex-direction: column;

	.row {
		display: flex;
		flex-direction: row;
		flex-shrink: 0;

		.sidebar-col {
			padding-top: $padding;
			width: $sidebar-width;
			flex-basis: $sidebar-width;
			flex-grow: 0;
			background-color: $color-neutral-04;
			color: $color-neutral-01;
			padding-right: $padding;
		}

		.content-col {
			padding-top: $padding;
			max-width: $content-width;
			flex-basis: $content-width;
			flex-grow: 0;
			background-color: $color-neutral-01;
			padding-left: $padding;
		}

		&::before {
			content: "";
			flex-grow: 1;
			background-color: $color-neutral-04;
		}

		&::after {
			content: "";
			flex-grow: 4;
			background-color: $color-neutral-01;
		}
	}
}