@import 'theme';
@import 'media';

// Set general theme settings
html, body, .site-wrap {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Signika";
	font-size: 20px;
}

h1 {
	margin-top: 0px;
}

h2 {
	font-size: $font-size-header-large;
	color: $color-red-01;
}

p:first-child {
	margin-top: 0px;
}

a {
	color: $color-blue-03;
	text-decoration: none;

	&:visited {
		color: $color-blue-03;
	}
	&:hover, &:visited:hover {
		color: $color-blue-02;
	}
}

.page-title.page-title.page-title {
	&, &:hover {
		color: $color-neutral-01;
	}
}

.site-wrap {
	display: flex;
	flex-direction: column;

	.row {
		display: flex;
		flex-direction: row;
		flex-shrink: 0;

		background-color: $color-neutral-01;

		@include phone {
			flex-direction: column;
		}

		.sidebar-col {
			padding: $padding;
			width: $sidebar-width;
			flex-basis: $sidebar-width;
			flex-grow: 0;
			background-color: $color-neutral-04;
			color: $color-neutral-01;

			@include phone {
				flex-basis: auto;
				width: unset;
			}
		}

		.content-col {
			padding: $padding;
			max-width: $content-width;
			flex-basis: $content-width;
			flex-grow: 0;

			@include phone {
				flex-basis: auto;
				max-width: unset;
			}
		}

		&::before {
			content: "";
			flex-grow: 1;
			background-color: $color-neutral-04;
		}

		&::after {
			content: "";
			flex-grow: 4;
		}
	}
}