$color-neutral-01: #E5E5E5;
$color-neutral-04: #222222;

$color-red-01: #ce0303;



$sidebar-width: 350px;
$content-width: 700px;

$padding: 16px;

$font-size-header-small: 16px;
$font-size-header-large: 28px;
