$color-neutral-01: #E5E5E5;
$color-neutral-02: #9E9E9E;
$color-neutral-03: #414141;
$color-neutral-04: #222222;

$color-red-01: #ce0303;

$color-blue-01: #64B5F6;
$color-blue-03: #366DEC;



$sidebar-width: 350px;
$content-width: 700px;

$padding: 16px;

$font-size-header-small: 16px;
$font-size-header-large: 28px;
