$color-key-light: #de0000;
$color-key-dark: #9c0000;


$color-neutral-00: #FFFFFF;
$color-neutral-01: #E5E5E5;
$color-neutral-02: #9E9E9E;
$color-neutral-03: #414141;
$color-neutral-04: #222222;

$color-red-01: $color-key-dark;

$color-blue-01: #64B5F6;
$color-blue-02: #42A5F5;
$color-blue-03: #366DEC;

$color-syntax-comment: #646464;
$color-syntax-key-word: #ef5350;
$color-syntax-number: #9575CD;
$color-syntax-strings: #FFA726;
$color-syntax-function: #66BB6A;
$color-syntax-builtin: #4dd0e1;

// super subtle
$border-radius: 3px;

$sidebar-width: 350px;
$content-width: 800px;

$padding: 16px;

$font-size-header-small: 16px;
$font-size-header-large: 28px;
